In [1]:
# Manejo de archivos grandes con pandas

In [2]:
import pandas as pd
import numpy as np
import os
import glob # Buscar archivos en el directorio.

In [5]:
files = glob.glob("data/*.out")

In [6]:
np.size(files)

8

In [7]:
i = 1
for file in files:
    print(f'Archivo {i}: {file}.')
    i += 1

Archivo 1: data/K06_20230829102654.out.
Archivo 2: data/K06_20230829102647.out.
Archivo 3: data/K06_20230829102716.out.
Archivo 4: data/K06_20230903164607.out.
Archivo 5: data/K06_20230903163517.out.
Archivo 6: data/K06_20230829102704.out.
Archivo 7: data/K06_20230829102709.out.
Archivo 8: data/K06_20230829102634.out.

In [13]:
t = np.loadtxt(files[0],usecols=(0),skiprows=2)

dfs = []

df_tiempo = pd.DataFrame({'t':t})

for i in range(0,np.size(files)):
    Tpot = np.loadtxt(files[i],usecols=(1),skiprows=2)
    df_Tpot = pd.DataFrame({'Tpot':Tpot})
    dfs.append(df_Tpot)

In [15]:
df_salida = pd.concat(dfs)

In [16]:
df_salida

        Tpot
0    1350.00
1    1351.01
2    1352.02
3    1353.04
4    1354.07
..       ...
445  1927.03
446  1927.79
447  1928.55
448  1929.30
449  1930.05

[3600 rows x 1 columns]